:root {
    --index: calc(1vw + 1vh);
    --gutter: 50px;
    --side-small: 26;
    --side-big: 36;
    --depth: 4000px;
    --transition: 0.75s cubic-bezier(.075, 0.5, 0, 1)
}

.color {
    width: 100vw;
    height: 100vh;
    color: aqua;
    background-color: black;
}

